.auth__main {
  align-items: center;
  background-image: $background;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  width: 100vw;
}

.auth__box-container {
  background-color: $light;
  border-radius: 10px;
  box-shadow: 0px 3px, $dark;
  padding: 10px;
  width: 60vw;
}

.auth__title {
  color: darken($color: $primary, $amount: 20);
  margin-bottom: 5px;
}

.auth__input {
  border: 0px;
  border-bottom: 1px solid $dark;
  color: black;
  font-size: 12px;
  height: 15px;
  margin-bottom: 10px;
  width: 100%;

  transition: border-bottom .3s ease;
  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.auth__external {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}