.nothing__main-content {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  padding: 2%;

  p {
    text-align: center;
  }
}