.update__form {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;  
}

.update__center {
  display: flex;
  justify-content: center;
}