$background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

$primary: rgb(161, 184, 238);
$dark: rgb(77, 92, 126);
$light: white;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;